{% extends 'navbar.html' %}
{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Drawing number</th>
            <th>DRW 1</th>
            <th>DRW 2</th>
            <th>DRW 3</th>
            <th>Customer</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product.code_id }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.product_drw_number }}</td>
            <td>{{ product.product_drawings_1 }}</td>
            <td>{{ product.product_drawings_2 }}</td>
            <td>{{ product.product_drawings_3 }}</td>
            <td>{{ product.customer }}</td>
            <td>{{ product.price }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'inventory:update_product' product.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'inventory:delete_product' product.pk %}" class="btn btn-primary">Delete</a>
    <a href="{% url 'inventory:product_list' %}" class="btn btn-primary">Back to list</a>
{% endblock %}