{% extends 'navbar.html' %}
{% block content %}
    <h2>{{ customer.customer_name }}</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Address</th>
            <th>Country</th>
            <th>Contact person</th>
            <th>Phone number</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ customer.address }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.contact_person }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.email }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'crm:customer_list' %}" class="btn btn-primary">Back</a>
{% endblock %}